n8n_news_automation_workflow.json
{
  "name": "Chronicle Live - Autonomous Gemini News Publisher",
  "nodes": [
    {
      "parameters": {
        "rule": "0 0 */3 * * *"
      },
      "id": "a90bb705-cb62-4217-91fb-553b34208a8b",
      "name": "Cron (Every 3 Hours)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "url": "http://feeds.bbci.co.uk/news/world/rss.xml"
      },
      "id": "e44d56df-64df-419b-a010-098555e11943",
      "name": "Fetch BBC News RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        240
      ]
    },
    {
      "parameters": {
        "mode": "jsonToXml",
        "options": {}
      },
      "id": "f58f001c-6d80-48b9-bc91-23ea27e2a9b2",
      "name": "Parse RSS XML",
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        740,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = [];\ntry {\n  const rss = $input.item.json.rss;\n  const rawItems = rss.channel.item;\n  \n  const itemsArray = Array.isArray(rawItems) ? rawItems : [rawItems];\n  \n  for (const item of itemsArray) {\n    items.push({\n      json: {\n        title: item.title,\n        description: item.description || item.encoded || '',\n        link: item.link,\n        pubDate: item.pubDate\n      }\n    });\n  }\n} catch (e) {\n  // Suppress error if parsing failed\n}\nreturn items.slice(0, 5); // Take top 5 latest breaking news stories"
      },
      "id": "d040f7d5-d72b-42ab-af96-6e4ea475f4d8",
      "name": "Extract RSS Feed Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        240
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/YOUR_GITHUB_USERNAME_HERE/YOUR_GITHUB_REPO_NAME_HERE/contents/public/articles.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 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"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-automation-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "67cc5f2c-e1ee-48ec-920f-07490214a1e9",
      "name": "Get Current News DB from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dummy-cred-id",
          "name": "GitHub API Credentials (HTTP Header)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Decode current articles list\nlet currentArticles = [];\ntry {\n  const contentBase64 = $input.item.json.content;\n  // Handle UTF-8 safely in n8n/Node.js\n  const contentString = Buffer.from(contentBase64, 'base64').toString('utf-8');\n  currentArticles = JSON.parse(contentString);\n} catch (e) {\n  // Fallback to empty if file not found/malformed\n}\n\n// Get RSS Item details\nconst rssTitle = $('Extract RSS Feed Items').item.json.title;\nconst rssDescription = $('Extract RSS Feed Items').item.json.description;\nconst rssLink = $('Extract RSS Feed Items').item.json.link;\nconst rssPubDate = $('Extract RSS Feed Items').item.json.pubDate;\nconst sha = $input.item.json.sha; // Save current SHA to use during the update\n\n// Check if this article was already imported\nconst alreadyExists = currentArticles.some(art => \n  art.title.toLowerCase().trim() === rssTitle.toLowerCase().trim() ||\n  (art.tags && art.tags.includes(rssLink)) ||\n  art.content.includes(rssLink)\n);\n\nreturn {\n  json: {\n    rssTitle,\n    rssDescription,\n    rssLink,\n    rssPubDate,\n    sha,\n    alreadyExists,\n    currentArticlesCount: currentArticles.length\n  }\n};"
      },
      "id": "d748de7f-1d4e-4f36-9694-de4db9a6a8b5",
      "name": "Check for Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a679796e-a22c-47b8-bde8-d7b13eb80dfa",
              "leftValue": "={{$json.alreadyExists}}",
              "rightValue": true,
              "operator": "isNotTrue"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5cd9b2c3-42e1-4c6b-952b-10cbde608821",
      "name": "Filter Duplicate Articles",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1460,
        240
      ]
    },
    {
      "parameters": {
        "modelName": "gemini-2.5-flash",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "1d6c810d-27b5-4b05-bb2a-b732bc9c7e0c",
      "name": "Google Gemini Model (Free Tier)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1600,
        420
      ],
      "credentials": {
        "googleAnswersApi": {
          "id": "gemini-api-cred",
          "name": "Google AI Studio API Key"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert AI journalist editing articles for 'Chronicle Live'.\nRewrite the following raw news article into an original, engaging, high-quality, and detailed news story in your own words. Do not copy sentences verbatim from the source description.\n\nRaw Source Title: {{$json.rssTitle}}\nRaw Source Description: {{$json.rssDescription}}\nSource Link: {{$json.rssLink}}\n\nWrite a fully structured article. Return ONLY a valid raw JSON object. Do not wrap the JSON output in markdown formatting like ```json or ```, and do not write any introductory or explanatory text. The output must be exactly parseable as JSON matching this schema:\n{\n  \"title\": \"Catchy, original headline\",\n  \"excerpt\": \"Compelling 1-2 sentence preview summary\",\n  \"content\": \"Detailed story content with paragraphs, formatted in standard Markdown (3-4 paragraphs)\",\n  \"category\": \"World\" or \"Tech\" or \"Business\" or \"Sports\" or \"Entertainment\" or \"Lifestyle\",\n  \"tags\": [\"keyword1\", \"keyword2\", \"tag3\"]\n}"
      },
      "id": "b3e0cb9d-bb8e-4a6f-a496-d8bb412e8790",
      "name": "Generate Article with Gemini",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1680,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const aiResponseText = $input.item.json.text;\nlet aiData = {};\n\ntry {\n  // Clean JSON output if AI added markdown fences\n  let cleanJson = aiResponseText.trim();\n  if (cleanJson.startsWith('```json')) {\n    cleanJson = cleanJson.substring(7);\n  }\n  if (cleanJson.startsWith('```')) {\n    cleanJson = cleanJson.substring(3);\n  }\n  if (cleanJson.endsWith('```')) {\n    cleanJson = cleanJson.substring(0, cleanJson.length - 3);\n  }\n  aiData = JSON.parse(cleanJson.trim());\n} catch (e) {\n  // Fallback if parsing failed\n  aiData = {\n    title: $('Filter Duplicate Articles').item.json.rssTitle,\n    excerpt: $('Filter Duplicate Articles').item.json.rssDescription.slice(0, 100) + '...',\n    content: $('Filter Duplicate Articles').item.json.rssDescription,\n    category: 'World',\n    tags: ['Breaking', 'News']\n  };\n}\n\n// Set up curated premium Unsplash images to keep the project completely free\nconst categoryImages = {\n  World: [\n    \"https://images.unsplash.com/photo-1504711434969-e33886168f5c?auto=format&fit=crop&w=800&q=80\",\n    \"https://images.unsplash.com/photo-1451187580459-43490279c0fa?auto=format&fit=crop&w=800&q=80\"\n  ],\n  Tech: [\n    \"https://images.unsplash.com/photo-1518770660439-4636190af475?auto=format&fit=crop&w=800&q=80\",\n    \"https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?auto=format&fit=crop&w=800&q=80\"\n  ],\n  Business: [\n    \"https://images.unsplash.com/photo-1611974789855-9c2a0a7236a3?auto=format&fit=crop&w=800&q=80\",\n    \"https://images.unsplash.com/photo-1590283603385-17ffb3a7f29f?auto=format&fit=crop&w=800&q=80\"\n  ],\n  Sports: [\n    \"https://images.unsplash.com/photo-1461896836934-ffe607ba8211?auto=format&fit=crop&w=800&q=80\",\n    \"https://images.unsplash.com/photo-1508098682722-e99c43a406b2?auto=format&fit=crop&w=800&q=80\"\n  ],\n  Entertainment: [\n    \"https://images.unsplash.com/photo-1514525253161-7a46d19cd819?auto=format&fit=crop&w=800&q=80\",\n    \"https://images.unsplash.com/photo-1470225620780-dba8ba36b745?auto=format&fit=crop&w=800&q=80\"\n  ],\n  Lifestyle: [\n    \"https://images.unsplash.com/photo-1511556532299-8f662fc26c06?auto=format&fit=crop&w=800&q=80\",\n    \"https://images.unsplash.com/photo-1506126613408-eca07ce68773?auto=format&fit=crop&w=800&q=80\"\n  ]\n};\n\nconst category = aiData.category || 'World';\nconst images = categoryImages[category] || categoryImages.World;\nconst randomImage = images[Math.floor(Math.random() * images.length)];\n\n// Generate a unique URL identifier\nconst id = aiData.title.toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/(^-|-$)/g, '') || `news-${Date.now()}`;\n\n// Inject source link in tags for verification & duplicate checking later\nconst sourceLink = $('Filter Duplicate Articles').item.json.rssLink;\nconst finalTags = Array.isArray(aiData.tags) ? aiData.tags : ['News'];\nif (!finalTags.includes(sourceLink)) {\n  finalTags.push(sourceLink);\n}\n\n// Create the final structured article object\nconst article = {\n  id,\n  title: aiData.title,\n  excerpt: aiData.excerpt,\n  content: aiData.content + `\\n\\n*Source: BBC News Syndicate*`,\n  category,\n  imageUrl: randomImage,\n  imageCaption: `AI-illustrated coverage for: ${aiData.title}`,\n  author: \"Gemini Auto-Editor\",\n  publishedAt: new Date().toISOString(),\n  readTime: `${Math.max(1, Math.ceil(aiData.content.split(/\\s+/).length / 200))} min read`,\n  isBreaking: false,\n  isHot: true,\n  tags: finalTags,\n  views: Math.floor(Math.random() * 80) + 12\n};\n\nreturn {\n  json: {\n    article,\n    sha: $('Filter Duplicate Articles').item.json.sha\n  }\n};"
      },
      "id": "e7fb783d-e6b7-4c07-ae7c-26d96e4ea475",
      "name": "Build Article Object & Select Visuals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        220
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/YOUR_GITHUB_USERNAME_HERE/YOUR_GITHUB_REPO_NAME_HERE/contents/public/articles.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 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"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-automation-agent"
            }
          ]
        },
        "options": {}
      },
      "id": "27cc5f2c-e1ee-48ec-920f-07490214a1e0",
      "name": "Get DB Fresh Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2060,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dummy-cred-id",
          "name": "GitHub API Credentials (HTTP Header)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the fresh database\nconst contentBase64 = $input.item.json.content;\nconst contentString = Buffer.from(contentBase64, 'base64').toString('utf-8');\nconst currentArticles = JSON.parse(contentString);\n\n// Get new article\nconst newArticle = $('Build Article Object & Select Visuals').item.json.article;\n\n// Add new article to top of the list\nconst updatedArticles = [newArticle, ...currentArticles];\nconst updatedString = JSON.stringify(updatedArticles, null, 2);\n\n// Encode back to UTF-8 Base64\nconst updatedBase64 = Buffer.from(updatedString, 'utf-8').toString('base64');\n\nreturn {\n  json: {\n    sha: $input.item.json.sha, // Use the absolute newest file SHA to prevent GitHub conflicts\n    content: updatedBase64\n  }\n};"
      },
      "id": "1809cb8d-27b5-4b05-bb2a-b732bc9c7e0b",
      "name": "Merge & Encode DB JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        220
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/YOUR_GITHUB_USERNAME_HERE/YOUR_GITHUB_REPO_NAME_HERE/contents/public/articles.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 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"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-automation-agent"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Autonomous Gemini Editor: Publish new breaking story\",\n  \"content\": \"{{$json.content}}\",\n  \"sha\": \"{{$json.sha}}\",\n  \"branch\": \"main\"\n}",
        "options": {}
      },
      "id": "67cc5f2c-e1ee-48ec-920f-07490214a1e5",
      "name": "Commit Database to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2420,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dummy-cred-id",
          "name": "GitHub API Credentials (HTTP Header)"
        }
      }
    }
  ],
  "connections": {
    "Cron (Every 3 Hours)": {
      "main": [
        [
          {
            "node": "Fetch BBC News RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch BBC News RSS": {
      "main": [
        [
          {
            "node": "Parse RSS XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS XML": {
      "main": [
        [
          {
            "node": "Extract RSS Feed Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract RSS Feed Items": {
      "main": [
        [
          {
            "node": "Get Current News DB from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current News DB from GitHub": {
      "main": [
        [
          {
            "node": "Check for Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Duplicates": {
      "main": [
        [
          {
            "node": "Filter Duplicate Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicate Articles": {
      "main": [
        [
          {
            "node": "Generate Article with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model (Free Tier)": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Article with Gemini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Article with Gemini": {
      "main": [
        [
          {
            "node": "Build Article Object & Select Visuals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Article Object & Select Visuals": {
      "main": [
        [
          {
            "node": "Get DB Fresh Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DB Fresh Content": {
      "main": [
        [
          {
            "node": "Merge & Encode DB JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Encode DB JSON": {
      "main": [
        [
          {
            "node": "Commit Database to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "1",
  "meta": {
    "instanceId": "cb3e0cb9dbb8e4a6fa496d8bb412e8790"
  },
  "tags": []
}
